<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ get_url(path="blog.css") | safe }}" />
</head>

<body>
    <div class="sidebar">
        <div> 
            <a href="{{ get_url(path=".") | safe }}" style="text-decoration:none"<span class="button">Profile</span></a>
            <a href="{{ get_url(path="blog") | safe }}" style="text-decoration:none"<span class="button">Contents</span></a>
        </div>
        <span class="button" onclick="switch_mode()">Switch Mode</span>
    </div>
    <section class="section">
        <div class="container">
            {% block content %}
            yuhuu
            {% endblock %}
        </div>
    </section>
    <script>
        function switch_mode() {
            var body = document.querySelector("body"); 
            body.style.transition = "all 0.4s ease";
            var sidebar = document.querySelector(".sidebar"); 
            sidebar.style.transition = "all 0.4s ease";
            if (document.body.classList.toggle('dark_mode')) {
                localStorage.setItem('mode', 'dark');
            } else {
                localStorage.setItem('mode', 'light');
            }
        }
        if (localStorage.getItem("mode") === "dark") {
            document.body.classList.toggle('dark_mode');
        } else if (localStorage.getItem("mode") === null) {
            if(window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.body.classList.toggle('dark_mode');
            }
        }
    </script>
</body>

</html>