{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Profile
</h1>


<div class="profile-container">
<img class="profile"
src="/img/profile_shoulder.png"/>
</div>

<p> I set out to write a simple operating system for RISCV just for fun. This blog describes all the steps (and missteps) I took

Since I only came up with the idea of this blog after I already did some things - mainly to motivate myself - I will try to remember and summarize what I did.
</p>
<p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a>.</p>
{% endblock content %}
